* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
html {
  width: fit-content;
}

html, body {
  margin: 0;
  padding: 0;
}

.addleadForm {
  margin: 2rem;
}

.addleadForm > .formButtons {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.formButtons > button {
  margin: 1rem;
  justify-content: center;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

thead tr th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
  padding: .75rem;
  vertical-align: top;
}

tbody tr td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

button {
  font-weight: 400;
  color: white;
  background-color: #212529;
  text-align: center;
  border: 1px solid #212529;
  padding: .375rem .75rem;
}

.dashboardContainer {
  width: 800px;
  margin: 0 auto;
}

.userHeader {
  display: flex;
  justify-content: center;
}

.adminTools {
  display: flex;
  justify-content: center;
}

.adminTools > select {
  flex: 1;
}


nav > a, nav > button {
  background: none;
  padding: 0;
  border: 0;
  color: #212529;
  font-size: 16px !important;
  margin-right: 10px;
  text-decoration: none;
  justify-content: space;
  width: 100%;
}

.appLogo h2 {
  background-color: aqua;
}

.navLinkList > li {
  background-color: aqua;
  font-weight: bold;
}

.navLinkList > li > a {
  text-decoration-line: none;
  list-style-type: none;
  margin-right: .5rem;
  font-size: small;
  background-color: aqua;
}

.navLinkList > li > a:hover {
  font-style: italic ;
}

.navLinkList {
  background-color: aqua;
  display: flex;
  align-items: baseline;
  list-style: none;
}



.Nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0%;
  background-color: aqua;
}

.leadTool {
  margin: 1rem 1.5rem;
}

.userHeader {
  margin: 1.5rem;
}

.tableHeader {
  font-size: 32px;
}

.viewedUser {
  font-size: 48px;
}

.welcome {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.welcomeDesc {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.Overview {
  margin-bottom: 2rem;
}

.Overview > h3, .Features > h3 {
  display: flex;
  margin-bottom: .5rem;
  justify-content: center;
}

.Overview > p {
  display: flex;
  margin-bottom: .5rem;
  justify-content: center;
  text-align: justify;
  margin-right: 1rem;
  margin-left: 1rem;
}

.signupHeader {
  display: flex;
  justify-content: center;
}



.Features {
  display: flex;
}

.Features > h3 {
  align-items: center;
}

.Features > ul > li  {
  display: inline-block;
  justify-content: center;
  margin-left: 1rem;
  margin-bottom: .5rem;
}

@media screen and (min-width: 767px) {
  
  .Features {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Features > h3 {
    justify-content: center;
  }
  
  .Features > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
  }

  .Features > ul > li {
    list-style-type: circle;
  }

}

@media screen and (min-width: 1023px) {
  html {
    width: 100%;
  }
}